/.vs/
/packages/
/.vscode/
.DS_Store
*.dSYM
/*.vcxproj.user
*.aps
/obj/
/bin/
/tables/extracted/
/tables/zelda3.sfc
/tables/zelda3.smc
/saves/*.sav
/saves/sram.dat
/saves/sram.bak
/zelda3
__pycache__
/*.o
/*.exe
/*.out
/snes/*.o
/msu/alttp_msu-*.pcm
/tmp/
build/
/zelda/gen/*.h
